h1 is my startup idea good
form(method='post')
    textarea(name='idea', placeholder='enter your startup idea in a few words, e.g. "#{fake_idea}"')
    button#analyze analyze
script(src='/js/base.js')
